p{
    font-size: 64px;
    background-color: white;
}
body{
    background-image: url("../Knaagdierbank.png");
    background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
    font-size: 64px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}