body{
    background-image: url("../Knaagdierbank.png");
    background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    font-size: 64px;
    background-color: white;
}
input{
    font-size: 64px;
    line-height: 66px;
    width: 100%;
}